* text=auto !eol
/.buildpath -text
/.project -text
.settings/org.eclipse.php.core.prefs -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
.settings/org.eclipse.wst.validation.prefs -text
/README.md -text
/composer.json -text
/composer.lock -text
/composer.phar -text
/phpunit.xml.dist -text
sql/00_init.sql -text
src/app/Application.php -text
src/app/controller/CallingHomeController.php -text
src/app/controller/LogController.php -text
src/app/model/Designer.php -text
src/app/model/DesignerLogRecord.php -text
src/app/model/Engine.php -text
src/app/model/EngineLogRecord.php -text
src/app/model/HttpRequest.php -text
src/app/model/Java.php -text
src/app/model/Licence.php -text
src/app/model/Memory.php -text
src/app/model/Network.php -text
src/app/model/OperatingSystem.php -text
src/app/model/ReleaseInfo.php -text
src/app/model/SystemDatabase.php -text
src/app/repository/DesignerLogRepository.php -text
src/app/repository/EngineLogRepository.php -text
src/app/repository/ReleaseInfoRepository.php -text
src/config/config.php -text
src/web/.htaccess -text
src/web/index.php -text
test/integration/controller/CallingHomeControllerTest.php -text
test/integration/controller/IntegrationTestCase.php -text
test/integration/controller/LogControllerTest.php -text
test/testdata/releaseDirectory/testcase1/5.0.0/ReleaseInfo.txt -text
test/testdata/releaseDirectory/testcase1/5.1.11/ReleaseInfo.txt -text
test/testdata/releaseDirectory/testcase1/5.2/ReleaseInfo.txt -text
test/testdata/releaseDirectory/testcase2/0.0.1/ReleaseInfo.txt -text
test/testdata/releaseDirectory/testcase2/5.1.0/ReleaseInfo.txt -text
test/testdata/releaseDirectory/testcase2/5.1.11/ReleaseInfo.txt -text
test/testdata/releaseDirectory/testcase2/5.2/ReleaseInfo.txt -text
test/testdata/releaseDirectory/testcase2/6.1.0/ReleaseInfo.txt -text
test/testdata/releaseDirectory/testcase2/6.1.11/ReleaseInfo.txt -text
test/testdata/releaseDirectory/testcase2/6.1.2/ReleaseInfo.txt -text
test/testdata/releaseDirectory/testcase2/6.1/ReleaseInfo.txt -text
test/testdata/releaseDirectory/testcase2/6.5/ReleaseInfo.txt -text
test/testdata/testdata.sql -text
test/unit/model/DesignerTest.php -text
test/unit/model/HttpRequestTest.php -text
test/unit/model/LicenceTest.php -text
test/unit/model/MemoryTest.php -text
test/unit/model/NetworkTest.php -text
test/unit/model/OperatingSystemTest.php -text
test/unit/model/ReleaseInfoTest.php -text
test/unit/model/SystemDatabaseTest.php -text
test/unit/repository/ReleaseInfoRepositoryTest.php -text
