* text=auto !eol
/README.md -text
app/autoload.php -text
app/config/Config.php -text
app/model/Designer.php -text
app/model/DesignerLogRecord.php -text
app/model/Engine.php -text
app/model/EngineLogRecord.php -text
app/model/Java.php -text
app/model/Licence.php -text
app/model/Memory.php -text
app/model/Network.php -text
app/model/OperatingSystem.php -text
app/model/SystemDatabase.php -text
app/repository/DesignerLogRepository.php -text
app/repository/EngineLogRepository.php -text
app/repository/Repository.php -text
app/request/AddDesignerLogRequestHandler.php -text
app/request/AddEngineLogRequestHandler.php -text
app/request/AddLogRequestHelper.php -text
app/request/LogReaderRequestHandler.php -text
app/request/RequestHandler.php -text
app/request/RequestHandlerRegistry.php -text
app/response/ReleaseResponse.php -text
config/Config.php -text
sql/00_init.sql -text
tmp/test-response.txt -text
tmp/test-urls.txt -text
web/.htaccess -text
web/index.php -text
